::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

::-webkit-scrollbar-thumb {
background-color:#1BA098;
outline: 1px solid slategrey;
}

.App {
  text-align: center;
  margin: 0;
}

.image{
  max-width: 100px;
  max-height: 100px;
}

.main-wrapper{
  margin-top: 70px;
}

.header-wrapper{
  position: fixed;
  top: 0px;
  width: 100%;
}

.mountain-info-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #051622;
}

.mountain-container{
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: #051622;
  height: fill;
}

.mountain-div{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  justify-content: center;
  padding: 5px;
  align-items: center;
  min-width: 100%;
  border-bottom: 2px solid #DEB992;
  color:#DEB992
}

.table-header{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  color:#DEB992;
}

.table-outline{
  align-items: center;
  margin-right: 10px;
  border-bottom: 2px solid#DEB992;
}

.header-container{
  display: grid;
  justify-content: center;
  align-items: center;
  height: 70px;
  background-color: #051622;
  border-bottom: 2px solid #DEB992;
}

.left-header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  justify-items: start;
  align-items: start;
}

.right-align {
  grid-column: 8;
}

.header-home, .header-checklist, .header-tripReport, .header-mountain, .right-align{
  display: grid;
  text-decoration: none;
  padding: 0 5px 0 5px;
  font-size: 1.5ch;
  font-weight: bold;
  color:#1BA098;
}

.header-home:hover, .header-checklist:hover, .header-tripReport:hover, .header-mountain:hover, .right-align:hover{
  display: grid;
  text-decoration: none;
  padding: 0 5px 0 5px;
  font-size: 1.5ch;
  font-weight: bold;
  color:orangered;
}

.scroll{
  overflow-y: scroll;
  height: 1200px;
}