::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

::-webkit-scrollbar-thumb {
background-color:#1BA098;
outline: 1px solid slategrey;
}

.App {
  text-align: center;
  margin:auto;
}

.image{
  max-width: 100px;
  max-height: 100px;
}

.main-wrapper{
  margin-top: 70px;
  background-color: #051622;
}

.header-wrapper{
  position: fixed;
  top: 0px;
  width: 100%;
}

.mountain-info-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.mountain-container{
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: #051622;
  height: fill;
}

.mountain-div{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  justify-content: center;
  padding: 5px;
  align-items: center;
  min-width: 100%;
  border-bottom: 2px solid #DEB992;
  color:#DEB992
}

.table-header{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  color:#DEB992;
}

.table-outline{
  align-items: center;
  margin-right: 10px;
  border-bottom: 2px solid#DEB992;
}

.header-container{
  display: grid;
  justify-content: center;
  align-items: center;
  height: 70px;
  background-color: #051622;
  border-bottom: 2px solid #DEB992;
}

.left-header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  justify-items: start;
  align-items: start;
}

.right-align {
  grid-column: 8;
}

.header-home, .header-checklist, .header-tripReport, .header-mountain, .right-align{
  display: grid;
  text-decoration: none;
  padding: 0 5px 0 5px;
  font-size: 1.5ch;
  font-weight: bold;
  color:#1BA098;
}

.header-home:hover, .header-checklist:hover, .header-tripReport:hover, .header-mountain:hover, .right-align:hover{
  display: grid;
  text-decoration: none;
  padding: 0 5px 0 5px;
  font-size: 1.5ch;
  font-weight: bold;
  color:orangered;
}

.scroll{
  overflow-y: scroll;
  height: 1200px;
}

.additional-info-wrapper {
  text-decoration: none;
  color:#1BA098;
  font-weight: bold;
}

.additional-info-wrapper:hover {
  text-decoration: none;
  color:orangered;
  font-weight: bold;
}

.checklist-container{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.checklist-container-div{
  overflow-y: scroll;
  height: 1200px;
  padding-right: 10px;
}

.checklist-info-wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  color: #DEB992;
  height: 60px;
  margin: 5px;
}

.checkmark-wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
}

.check-mark {
  color: rgb(0, 243, 24);
}

.x{
  color: red;
}

.create-post-button{
  border: none;
  background-color:#1BA098;
  color:#DEB992;
  text-shadow: 2px 2px #071313;
  letter-spacing: 1.5px;
  font-size: 20px;
  height: 40px;
  width: 200px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.create-post-button:hover{
  border-top: 3px solid #b0c4c5;
  border-left: 3px solid #b0c4c5;
  border-right: 3px solid #3e5251;
  border-bottom: 3px solid #3e5251;
  background-color: orangered;
}

.trWrapper{
  height: 1200px;
}

.trPostWrapper{
  padding: 20px;
}

.create-post-form {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
}

.homeWrapper{
  background-image: url("https://images.fineartamerica.com/images/artworkimages/mediumlarge/1/maroon-bells-sunset-luis-a-ramirez.jpg");
  height: 1300px;
  background-repeat: no-repeat;
  background-size: contain;
}

.homeInfoWrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 200px;
}

.homeTitle {
  font-size: 6ch;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
